<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

<div class="nav">

    <div class="nav-header">
        <div class="nav-left">
            <a href="/" class="navlink"> <img src="/images/Logo.svg"> </a>
        </div>
        <div class="nav-center"><a href="#"></a></div>
        <div class="nav-right">
            <% if(loggedIn) { %>
                <a href="/auth/user" class="navlink">Profile</a>
                <a href="/clubs/" class="navlink">Join Clubs</a>
            <%}else{%>
                <a href="/auth/login" class="navlink">Login</a>
                <a href="/auth/new" class="navlink">Register</a>
            <%}%>

            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        
    </div>
    <div class="overlay">
            <% if(loggedIn) { %>
                <a href="/auth/user" class="navlink">Profile</a>
                <a href="/clubs/" class="navlink">Join Clubs</a>
            <%}else{%>
                <a href="/auth/login" class="navlink">Login</a>
                <a href="/auth/new" class="navlink">Register</a>
            <%}%>
    </div>

</div>
<script>
const hamburgerMenu = document.querySelector('.hamburger-menu')
const overlay = document.querySelector('.overlay')
hamburgerMenu.addEventListener('click',function(){
this.classList.toggle('open');
overlay.classList.toggle('show');
})

</script>