body{
    margin:6rem 0 0 0;

}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration: underline;
    color:#C63C33;
}
.nav{
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgb(159, 158, 158);
    width: 100%;
    top: 0;
    
}

.nav-header{
    max-width: 80%;
    margin: 0 auto;
    display:flex;
    padding: 15px;
    align-items:center;
}

.nav-left{
    width: 33.333%;
    text-align: left;
    padding:15px;
}

.nav-center{
    width: 33.333%;
    text-align: left;
}
.nav-right{
    width: 60%;
    text-align: right;
}
.navlink{
    text-decoration: none;
    margin-left: 3%;
    text-transform: uppercase;
    color:black;
 
}
.navlink:hover{
    color:#C63C33;
    cursor:pointer;
}

.hamburger-menu{
    width:40px;
    height:25px;
    position: relative;
    display:none;
    margin:14px 15% 0 auto;
    z-index: 2;
}

.bar{
    display:block;
    position: absolute;
    width:25px;
    height:3px;
    left:0;
    border-radius:6px;
    background-color:rgb(58,69,95);
    transition: all .50s ease-in-out;
    
}
.open > .bar{
    transition: all .50s ease-in-out;
    background-color:white;
}
.bar:nth-child(1){
    top:0px;
}
.bar:nth-child(2){
    top:22.5%;
}
.bar:nth-child(3){
    top:45%;
}
/* > child of any class that has .open class */
.open > .bar:nth-child(1){
    top:45%;
    transform:rotate(135deg);
    
}
.open > .bar:nth-child(2){
    left:-60px;
    opacity:0;
    
}
.open > .bar:nth-child(3){
    transform:rotate(-135deg);
}
.overlay{
    height:100%;
    width:100%;
    display:flex;
    position:fixed;
    background-color: rgba(58,69,95,.95);
    top:0;
    left: -123rem; 
    z-index: 1;
    transition: all .60s ease-in-out;
    
}

.overlay.show{
    left:0;
}

.overlay-content{
    position:relative;
    top:15%;
    width: 100%;
    text-align: center;
    margin-top:30px;
}

.overlay-link{
    color:white;
    text-decoration: none;
    font-size: 36px;
    display:block;
    text-transform: uppercase;
}

@media (max-width:800px) {
.hamburger-menu{display:block;}
.nav-right > a{display:none;}

}

.home-splash{
    font-family: 'Playfair Display', serif;
    text-align: left;
    /* background-image: url(images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg); */
    background-size: contain;
   height: 100vh;
   width: 85vh;
   margin-left:3rem;
   padding: 3px;
   /* margin:0 auto; */
}
.form-container input{
    margin:0 auto;
    padding: 9px;
}
.genre-list li{
    list-style-type: none; 
}

/* User Show page Styling */
.container{
    display:flex;
    max-width: 95%;
    max-width: 95%;
    margin:0 auto;
    border: 1px solid black;
}
.content-main{
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.username-display{
    display:inline-block;
}
.user-container{
display:inline-block;
padding:10px;
}
.user-link{
    padding: 2px;
    background-color:rgb(58,69,95);
    color: #E8E3BC;
    border-radius: 5%;
    margin: 0;
}

.user-genres{
    height:24%;
    width:85%;
    border: 1px solid black;
    margin:0 auto;
    text-align: left;
    padding: 2px;
    font-size: 1rem;
    overflow: scroll;
}
.content{
    height:20rem;
    width:25rem;
    margin:5px;
    text-align: justify;
    box-shadow: 0 0 5px rgb(162, 166, 175);
    padding:15px;
}
.content:hover{
    transform: scale(1.02);
    background-color:white;
    
}
.user-img-contain{
    height:35rem;
    width:25rem;
   /* border: 1px solid black; */
   /* margin-left: 3rem; */
   text-align: center;
   display:inline-block;
   box-shadow: 0 0 5px rgb(162, 166, 175);
}
.user-img{
    height: 50%;
    width: 50%;
    border-radius: 5%;
}
/*Login page Styling*/
.login-container{
    height:17rem;
    width:25rem; 
    text-align: center;
    margin:0 auto;
    border: 1px solid black;
    padding:15px;
}

/* Button Styling */
input[type=submit]{
    color:#C63C33;
    font-family: 'Playfair Display', serif;
    margin-top:10px;
    padding: 5px;
    border: 1px solid black;
}
input[type=submit]:hover{
    background-color:#C63C33;
    color:white;
    border: 1px solid rgb(58,69,95);
    
}
/*form styling*/

input[type=text] {
    font-family: 'Playfair Display', serif;
    color:#C63C33;
    padding:3px; 
    border:1px solid black; 
    
}
input[type=text]:focus {
    outline: none !important;
    border:1px solid #C63C33;
    box-shadow: 0 0 3px rgb(58,69,95);
}
input[type=date]:focus {
    outline: none !important;
    border:1px solid #C63C33;
    box-shadow: 0 0 3px rgb(58,69,95);
}

/* New Clubs Styling*/

.club-create-contain{
    margin: 0 auto;
    height: 47rem;
    width: 47rem;
    border:1px solid black; 
    padding: 10px;
    text-align: center;
    padding:5px
}
/* DIV color styling */
.red{
    border:1px solid #C63C33; 
    height: 100%;
    
}
.blue{
    border:1px solid rgb(58,69,95); 
    height: 98%;
    margin: 6px;
}
.orange{
    border:1px solid #E7843C; 
    height: 98%;
    margin: 6px;
}
/*Clubs Index Styling */
.clubs-container{
    display:inline-block;
    
        width:100%;
       text-align: center;
       display:inline-block;
       box-shadow: 0 0 5px rgb(162, 166, 175);
       margin:10px;
    }
    
    /*User Edit Styling*/
    .user-update-container{
        margin: 0 auto;
        height: 48rem;
        width: 48rem;
        border:1px solid black; 
        padding: 10px;
        text-align: center;
    }
    .user-form-container{

        padding-top:3rem;
    }



    .club-card{

        font-size: 2rem;
    }
    .content > .leader-edit{
        font-size: .75rem;
    }