<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('../../partials/navbar.ejs', {loggedIn: loggedIn})%>
    <title><%=user.username%></title>
</head>
<body>
    <div class="container">
        <div class="user-container">
            <div class="user-img-contain">
                <h1 class = "username-display"> <%=user.username%> </h1><br/>
                <img class = "user-img" src="https://i.redd.it/7bat5p9r52b11.jpg" >
                <p>Find Clubs</p>
                <p> <a href="/clubs/new">Create Club</a> </p>
            </div>
        </div>

        <div class="content-main">
        <div class="content">
            A
        </div>
        <div class="content">
            b 
        </div>
        <div class="content">
            c
        </div>
        <div class="content">
            <p> </p>
        </div>
        <div class="content">
            A
        </div>
        <div class="content">
            b 
        </div>
        <div class="content">
            c
        </div>
        <div class="content">
            becka's
        </div>
    </div>
       
       
    </div>
    
     
    
   
</body>
</html>